body {
    background-color: rgb(28, 26, 26);
}

.numbers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 10px;
}

button {
    padding: 15px 30px;
    /* border: 1px solid var(--primary-dark); */
    /* border-radius: 5px; */
    margin: 5px;
    font-weight: bold;
    border: 1px;
    border-radius: 4px;
  }

#equal {
    background-color: #8ab4f8;
}

#numbers {
    color: white;
    background-color: #3c4043;
}

#operators {
    color: white;
    background-color: #5f6368;
}